<h1>I changed heading 123</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus dolorum labore ducimus laborum nisi adipisci mollitia facere pariatur ipsa iusto ipsum nostrum beatae, nobis quod repellat rerum id sed et ab illum! Ad voluptas magni tenetur eaque maxime exercitationem harum adipisci minima incidunt praesentium, dolore corrupti cupiditate quibusdam ratione.</p>

<h1>Never out shine your master</h1>

<p>Always make those abouve you comfortabily superior.</p>
<h1>power new !</h1>
